@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");
* {
  box-sizing: border-box;
}
header {
  font-size: 3rem;
  color: white;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #fcf3f6;
}

h1 {
  font-size: 2.5rem;
  color: #f9f9f9;
}
h2 {
  font-size: 1.5rem;
  color: #f7f6f7;
}
